COMPAT_MODE_ENABLED=true
COMPAT_LAZY_LOAD_ENABLED=true
SERVER_HOST=127.0.0.1
SERVER_PORT=3100

DEFAULT_INSTANCE_ID=default
DEFAULT_INSTANCE_MODE=attached
DEFAULT_INSTANCE_BROWSER_URL=http://127.0.0.1:9222
DEFAULT_INSTANCE_WS_ENDPOINT=
DEFAULT_INSTANCE_USER_DATA_DIR=.tmp/default-profile
DEFAULT_INSTANCE_CHROME_ARGS=--remote-debugging-port=9222
DEFAULT_INSTANCE_HEADLESS=false
DEFAULT_INSTANCE_REMOTE_DEBUGGING_PORT=9222
